/ {
    chosen { zephyr,canbus = &canhost; };

    canhost: canhost {
        compatible = "zephyr,native-linux-can";
        host-interface = "vcan0";
        status = "okay";
    };

    simsensor0: simsensor {
        compatible = "pulselink,simsensor";
        status = "okay";
    };
};